#example power_supply_app.service file for running PowerSupplyControler as a system service on Raspberry Pi

[Unit]
Description=uWSGI instance to serve simple dynamic plugin
After=network.target

[Service]
User=root
WorkingDirectory=/home/plate_solver/PowerSupplyControler/
ExecStart=/usr/local/bin/uwsgi --http-socket :9000 --plugin python3 --wsgi-file python/run_localhost.py --enable-threads --master
Restart=on-failure
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
