#example power_supply_app.service file for running PowerSupplyControler as a system service on Raspberry Pi

[Unit]
Description=uWSGI instance to serve simple dynamic plugin
After=network.target

[Service]
User=plate_solver
WorkingDirectory=/home/plate_solver/PowerSupplyControler/
ExecStart=/usr/local/bin/uwsgi --ini power_supply_app.ini --honour-stdin
Restart=on-failure
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
